<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="UniversodadApp">
  <head>
    <meta charset="utf-8">
    <title>ANGULAR JS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lib/angular.min.js">  </script>
    <script src="js/app.js">

    </script>

  </head>
  <body>
    <div class="container" ng-controller="listadoCtrl">

      <h1>ng-repeat</h1>
      <h4>Manejando repeticiones</h4>
      <hr>


      <table class="table table-striped">
        <tr >
          <th>Nombre</th>
          <th>Edad</th>
          <th>Clase</th>
        </tr>
        <tr ng-repeat="prof in listadoProfesores.profesores" >
          <td>{{prof.nombre}}</td>
          <td>{{prof.edad}}</td>
          <td>{{prof.clase}}</td>
        </tr>
      </table>


        <ul>
          <li ng-repeat="tabla in [1,2,3,4,5,6,7,8,9,10]">
              2 x {{tabla}}= {{2*tabla}}
          </li>
        </ul>
    </div>

  </body>
</html>
