<h3>Alumno</h3>
<h3>{{code}}</h3>
<br>


<div class="row">
  <form >
    Codigo:
    <br>
    <input type="text" class="form-control" ng-model=""
    readonly="readonly">
    <br>

    Nombre:
    <br>
    <input type="text" class="form-control" ng-model=""
    >
    <br>

    Teléfono:
    <br>
    <input type="text" class="form-control" ng-model=""
    >
    <br>

    Dirección:
    <br>
    <textarea  rows="5" cols="80" class="form-control" ng-model=""></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>


  </form>

</div>
